*.DS_Store
*~
*.user
3rdparty/windows/rmt*
*/obj/*
obj
.idea
build*
*.lib
*.exe
*.pdb
tests/build-*
tests/functional/.idea
tests/functional/*.json
tests/functional/*.data
tests/functional/bin/*
tests/*key*
*Redis-64*
src/qredisclient/transporters/*/*
